In [24]:
import sqlite3 
import numpy

In [25]:
#Inputing Data

In [26]:
connection = sqlite3.connect("FTMS.db")

In [27]:
crsr = connection.cursor()

In [28]:
sql_command = """CREATE TABLE emp (  
staff_number INTEGER PRIMARY KEY,  
fname VARCHAR(20),  
lname VARCHAR(30),  
gender CHAR(1),  
joining DATE);"""

In [29]:
crsr.execute(sql_command)

OperationalError: table emp already exists

In [30]:
sql_command = """INSERT INTO emp VALUES (23, "Rishabh", "Bansal", "M", "2014-03-28");"""
crsr.execute(sql_command)

IntegrityError: UNIQUE constraint failed: emp.staff_number

In [31]:
sql_command = """INSERT INTO emp VALUES (1, "Bill", "Gates", "M", "1980-10-28");"""
crsr.execute(sql_command)

IntegrityError: UNIQUE constraint failed: emp.staff_number

In [32]:
connection.commit()

In [33]:
connection.close()

In [34]:
#Fetching Data

In [36]:
connection = sqlite3.connect("FTMS.db") 
  
# cursor object 
crsr = connection.cursor() 
  
# execute the command to fetch all the data from the table emp 
crsr.execute("SELECT * FROM emp")  
  
# store all the fetched data in the ans variable 
ans = crsr.fetchall()  
  
# Since we have already selected all the data entries  
# using the "SELECT *" SQL command and stored them in  
# the ans variable, all we need to do now is to print  
# out the ans variable 
print(ans)

AttributeError: 'list' object has no attribute 'DataFrame'

In [13]:
connection.close()

In [14]:
type(ans)

list

In [21]:
len(ans)

2